@for $i from 0 to 50 {
  .pt-#{$i}{
    padding-top: ($i / 10 ) + rem;
  }
  .pr-#{$i}{
    padding-right: ($i / 10 ) + rem;
  }
  .pb-#{$i}{
    padding-bottom: ($i / 10 ) + rem;
  }
  .pl-#{$i}{
    padding-left: ($i / 10 ) + rem;
  }
  .mt-#{$i}{
    margin-top: ($i / 10 ) + rem;
  }
  .mr-#{$i}{
    margin-right: ($i / 10 ) + rem;
  }
  .mb-#{$i}{
    margin-bottom: ($i / 10 ) + rem;
  }
  .ml-#{$i}{
    margin-left: ($i / 10 ) + rem;
  }
}

.mt-a {
  margin-top: auto;
}
.mr-a {
  margin-right: auto;
}
.mb-a {
  margin-bottom: auto;
}
.ml-a {
  margin-left: auto;
}


.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}